@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
}

.page.light {
  background-color: #f2f2f2;
}
.page.dark {
  background-color: #000;
}

.page.light * {
  color: #000;
}
.page.dark *:not(input, textarea) {
  color: #fff;
}

.page.dark .logo {
  fill: #fff;
}

#canvas canvas {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.primary {
  color: deepskyblue !important;
}

.primary .orange {
  color: goldenrod !important;
}
